@font-face{
  font-family: eagleAcquire;
  src: url(eaglebook.otf);
}
 
.page{
  font-family: eagleAcquire;
  background-color: black;
  color: grey;
}
 
#dropzone {
  bottom: 10px;
  z-index: -5;
  font-size: x-large;
  line-height: 5px;
  height: 30%;
  width: 100%;
  background-color: LightCyan;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}
 
#acquireBoard{
    display: inline-block;
    border: 2px outset lightGray;
    margin: 10px;
}

#acquireBoard div{
    line-height: 32px;
}

    /*
#acquireBoard span{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    font-family: eagleAcquire;
    font-size: medium;
    background-size: contain;
    background-color: black;
    border: 1px solid rgb(160,160,255);
}
    */

.acquireCell {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    font-family: eagleAcquire;
    font-size: medium;
    background-size: contain;
    background-color: black;
    border: 1px solid rgb(160,160,255);
    color: white;
      /*
    */
}

.selected {
  border-color: yellow;
  background-color: yellow;
  color: white;
  opacity: 0.9;
}
 
.occupied {
  background-color: grey;
  color: black;
  background-size: contain;
  background-image: url("tile.png");
}

.highlighted {
  background: linear-gradient(to top left, #000 0%, #000 75%, darkblue 75%, darkblue 100%);
  /*
  background: linear-gradient(to top left, #000 0%, #000 85%, red 85%, red 100%);
  border-color: darkblue;
  background-color: darkblue;
  */
  color: white;
  opacity: 0.9;
}

ctext {
}

rtext {
  font-size: 70%;
}

