@font-face{
  font-family: eagleAcquire;
  src: url(eaglebook.otf);
}
 
.page{
  font-family: eagleAcquire;
  background-color: black;
  color: grey;
}
 
#acquireBoard{
    display: inline-block;
    width: 100%;
}

#acquireBoard div{
    line-height: 32px;
}

    /*
#acquireBoard span{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    font-family: eagleAcquire;
    font-size: medium;
    background-size: contain;
    background-color: black;
    border: 1px solid rgb(160,160,255);
}
    */

.acquireCell {
    display: inline-block;
    position: relative;
    width: 8%;
    max-width: 50px;
    padding-top: 1%;
    vertical-align: middle;
    text-align: center;
    font-family: eagleAcquire;
    font-size: medium;
    background-size: contain;
    background-color: black;
    border: 1px solid rgb(160,160,255);
    color: white;
      /*
    */
}

.selected {
  border-color: yellow;
  background-color: yellow;
  color: white;
  opacity: 0.9;
}
 
.occupied {
  color: black;
  border-radius: 3px;
  background-color: grey;
  background-image: url("tile.png");
  background-size: 100% 98%;
  background-repeat: no-repeat;
}

.highlighted {
  background: linear-gradient(to top left, #000 0%, #000 75%, darkblue 75%, darkblue 100%);
  /*
  background: linear-gradient(to top left, #000 0%, #000 85%, red 85%, red 100%);
  border-color: darkblue;
  background-color: darkblue;
  */
  color: white;
  opacity: 0.9;
}

ctext {
}

rtext {
  font-size: 70%;
}

