* {
  box-sizing: border-box;
}
 
@font-face{
  font-family: eagleAcquire;
  src: url(eaglebook.otf);
}

body {
  font-family: eagleAcquire, Arial;
  padding: 10px;
  background: #f1f1f1;
  min-width:600px;       /* Suppose you want minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
  width:600px;           /* As IE6 ignores !important it will set width as 1000px; */
}

/* Header/Blog Title */
.header {
  padding: 5px;
  text-align: center;
  background: white;
}

.textinfo {
  font-size: small;
  font-family: Arial;
}

.header h1 {
  font-size: 50px;
  margin: 10px;
}

h2 {
  margin: 5px;
}
 
.header p {
  font-size: 10px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.row {
  width: 100%;
}

.overlay {
  background: rgba(10,10,10,0);
}

.rrow {
  width:100%;
}
 
/* Clear floats after the columns */
.rrow:after {
  content: "";
  display: grid;
  clear: both;
}
 
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  float: center;
}
.centered {
  text-align: center;
}
.empty:before {
  content: "\200b";
}
/* presume at 12column layout: 2 3 4 6 12 */
.p2 { width: 16%; }
.p3 { width: 25%; }
.p4 { width: 33%; }
.p6 { width: 50%; }
.p8 { width: 66%; }
.p10 { width: 83%; }
.p12 { width: 100%; }
.dbg{
  border: 1px solid red; 
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + div {
  box-shadow: 5px 10px 10px 5px #222;
}

.radio-input, .radio-label{
  display: inline-block;
  vertical-align: top;
  align: center;
/*  margin: 0 auto; */
  margin: 8px;
}

.block {
  display: inline-block;
}

.rectangle {
  user-select:none;
  display: inline-block;
  height: 80px;
  width: 60px;
  overflow: hidden;
  font-size: small;
  background-color: #555;
  border-radius: 5px;
  margin: 4px 4px 0px 4px;
  text-align: center;
}

.slant {
  position: relative;
  top: 30px;
  left: 0;
  transform: rotate(45deg);
  margin: 0 auto;
}

.bcount {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  visibility: hidden;
}

.scount {
  position: absolute;
  bottom: 0;
  left: 5px;
  text-align: bottom;
}

.blah {
  position: relative;
  height: 100%;
}

.clr {
  visibility: hidden;
  font-size: x-small;
}
 
div.mstick {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky; 
  top: 0;
  overflow: hidden;
  text-align: right;
  background-color: #333;
  transition: background-color 500ms;
  transition: visibility 500ms;
  color: white;
}

div.messages {
  float: left;
  width: 100%;
}

.error {
  background-color:red !important;
}

.endstatemessage {
  width: 100%;
  color: black;
  background-color: yellow;
  text-align: center;
  text-size: normal;
}

.gamemessage {
  width: 100%;
  color: white;
  text-align: center;
  text-size: normal;
}

.staticmessage {
  float: right;
  width: 33%;
  text-align: center;
}

.highlight {
  background-color: darkblue ;
  color: white;
}

.disabled {
  opacity: 45%;
}

.notthere {
  display: none !important;
}

.indicate {
  border: 3px solid darkblue !important;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
.maincolumn, .boardcolumn{   
  float: left;
  width: 75%;
}
 
.boardcolumn {
  font-family: eagleAcquire;
}

.infocolumn, .hotelcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 10px;
  padding-right: 10px;
}
 
/* STOCKS Basically a "row" */
.stockrack {
  border-radius: 5px;
  background-color: teal;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%; /* adjust math for individual tile container */
}

/* Space for Individual Stock */
/* 
border: 1px solid red; 
*/
.stockspace{
  /*
  border: 1px solid red; 
  */
  position: relative;
  height: 0;
/*  overflow: hidden;
  padding-top: 12%;*/
   
  font-size: large;
   
  /* Set up so 7 stocks display nicely */
  float: left;
  width: 22%;
  min-height: 50px;
  margin-bottom:3px;
  margin-top:3px;
  margin-left: 1%;
  margin-right: 1%;
}

.stockitem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 5px;

  font-size: 1em;
   
  text-align: center;
  padding-bottom: 1px;
  border-radius: 5px;
}

.stockcount {
  font-family: Arial;
}

.playermoney {
  font-family: Arial;
  text-align: right;
}

/* Clear floats after the columns */
.stockrack:after {
  content: "";
  display: table;
  clear: both;
}

.gamestate {
  font-size: large;
  width: 100%;
  text-align: center;
  color: white;
}

.messagelog {
}

.messagelog ul {
  margin: 0;
  padding: 0;
}
 
.messagelog ul li {
  cursor: pointer;
  position: relative;
  padding: 1px;
  list-style-type: none;
  background: #eee;
  font-size: x-small;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.messagelog ul li:nth-child(odd) { 
  background: #ccc;
}
 
/* TILES Basically a "row" */
.tilerack {
  border-radius: 5px;
  background-color: #A08050;
  margin-left: 15%; /* occupy no more than 70% of the container */
  margin-right: 15%;
  padding-left: 2%; /* adjust math for individual tile container */
  font-family: eagleAcquire;
}

/* Space for Individual tiles - Math presumes 7 tiles total */
/* 
border: 1px solid red; 
*/
.rackspace{
  /*
  border: 1px solid red; 
  */
  position: relative;
  height: 0;
  /*overflow: hidden;*/
  padding-top: 12%;
   
  font-size: 2.8vw;
   
  /* Set up so 7 tiles display nicely */
  float: left;
  width: 12%;
  min-height: 50px;
  margin-bottom:3px;
  margin-top:3px;
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 3px solid black;
}

.tile {
  /* Make the tile take up the whole container */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
     
  /* Centre the text horizontally and vertically */
  text-align: center;
  padding-top: 20%;
   
  font-size: 1em; /* 1x the parent size */
  
  /* Stylize the Tile */
  border-radius: 3px;
  background-color: grey;
  background-image: url("tile.png");
  background-size: 100% 98%;
  background-repeat: no-repeat;
  cursor: move;
}

.tile rtext {
  font-size: 70%;
}
.tile ctext {
}

/* Clear floats after the columns */
.tilerack:after {
  content: "";
  display: table;
  clear: both;
}

/* MONEY */
.moneycontainer {
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%; /* adjust math for individual tile container */
  font-family: eagleAcquire;
}

.moneycontainer button {
  float: left;
  width:20%;
  margin: 1%;
  line-height:40px;
  border-radius: 40%;
  text-align:center;
  text-decoration:none;
  font-size:1vw;
  transition-duration: 0.6s;
  font-family: eagleAcquire;
}

/* Container for Money Action Fields (reset, value, send)*/
.moneyaction button,input {
  width: 30%;
}
 
/* Chrome, Safari, Edge, Opera */
.moneyaction input::-webkit-outer-spin-button,
.moneyaction input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.moneyaction input[type=number] {
  -moz-appearance: textfield;
}   

/*
  border: 2px solid f5f5f5;
  color:#f5f5f5;
  */
.minusbutton {
  border: 2px solid red;
}
.minusbutton:hover {
  background: red;
  color: white;
}

.plusbutton {
  border: 2px solid green;
}
.plusbutton:hover {
  background: green;
  color: white;
}
 
/* HOTELS For the hotels part of the game board */
.hotellist {
  background-color: #888;
  width: 100%;
  margin: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.hotelspace, .rmhotelzone{
  position: relative;
  height: 30px;
  margin: 10px;
}

.hotelitem, .rmhotelitem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  text-align: center;
  font-size: 1em; /* 1x the parent size */
  padding: 5px;
  cursor: move;
  border-radius: 5px;
  border: 3px solid black;
}

.rmhotelitem{
  cursor: auto;
  font-size: x-small;
}

.hotelitem:after {
  content: "";
  display: table;
  clear: both;
}

.hotellist img {
  transition-property: transform;
  transition-duration: 2s;
  transition-delay 2s;
  transition: transform .2s; /* Animation */
}
.hotellist img:hover {
  transform: scale(1.2);
}

.mscount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 15px;
  background: white;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}
 
.rmstockcount {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: small;
  padding-left: 2px;
  font-family: Arial;
  font-weight: bold;
}

/* PLAYERS */
.playerlist {
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%; /* adjust math for individual tile container */
}

.playerspace {
  background-color: teal;
  font-size: medium;
   
  /* Show players in columns of two */
  width: 100%;
  min-height: 25px;
  margin: 3px 1%;
  border-radius: 5px;
}

.playeritem {
  width: 100%;
  height: 100%;

  font-size: 1em;
   
  text-align: left;
  padding-bottom: 1px;
  border-radius: 5px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* For the hotel widget when it's on the board */
.honboard {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5%,
    #ccc 8%
  );
}

/* For any dragable item when it overlaps its drop zone */
.overlaps {
  z-index: 10;
  background-color: white !important;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .infocolumn, .maincolumn {   
    width: 100%;
    padding: 0;
  }
  .moneycontainer button {
    font-size:2vw;
  }
  .stockspace {
    width: 11%;
  }
  .playercard {
    display: none;
  }
}
 
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 600px) {
  .hotelcolumn, .boardcolumn {   
    width: 100%;
    padding: 0;
  }
}
*/

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

