
.tilerack {
}
 
.tile {
  position: absolute;
  z-index: 9;
  cursor: move;
  line-height: 30px;
  height: 80px;
  width: 80px;
  background-color: WhiteSmoke;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}
