<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('.static', filename='newgame.css') }}{{ cachefix }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='tilebag.css') }}{{ cachefix }}">
   
  <script src="{{ url_for('.static', filename='lobbyREST.js') }}{{ cachefix }}"></script>
    
</head>
<body>

<div class="header">
  <h1>Create a New Game</h1>
</div>

<div class="topnav" id="topnav">
  <div class="message" style="text-align:center; color:white">Game hasn't started yet. Add players, then click 'Start'</div>
</div>
  
<div class="row">
  <div class="infocolumn">
    <h2>Player List</h2>
    <ul id="myUL">
    </ul>
  </div>
  <div class="maincolumn">
    <h2/>
    <input type="text" id="myInput" placeholder="New Player...">
    <span onclick="addPlayerToList()" id="addBtn" class="addBtn">Add</span>
  </div>
</div>

<span onclick="startGame(game_data)" id="startBtn" class="startBtn">Start the Game!</span>

<script>
 
// query state of game (exists, players, running)
var game_data=lobbyREST_getGameInfo("{{ url_for('lobbyrest_blueprint.rest_lobby_get_game_info', gameid=gameid) }}");
 
// Let the user hit "enter" when entering names
var input = document.getElementById("myInput");

// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("addBtn").click();
    input.innerText="";
  }
});

// Remove an item from our list
function removePlayerFromList(li) {
  console.log("Removing Item: " + li);
  li.parentElement.removeChild(li);
}

// Create a new list item when clicking on the "Add" button
function addPlayerToList() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    return;
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.onclick = function() { removePlayerFromList(li) };
  span.appendChild(txt);
  li.appendChild(span);
}

showGameInfo(game_data);
async function showGameInfo(data) {
  await data.then(data => console.log(data) ).catch(err => console.log("game doesn't exist, clicking start will create it") );
  // TODO: show existing players and the state of the game (not started)
}

async function startGame(data) {
  var bRet=true;
  // Get the game data, if it doesn't exist, create the game
  await data.catch(err => bRet=lobbyREST_createGame("{{ url_for('lobbyrest_blueprint.rest_lobby_make_game', gameid=gameid) }}", "{{gameid}}"));
  await bRet;

  // add players to the game and try to start it
  if( bRet) {
    console.log("asking to create all the players");
    bRet=addAllPlayers();
    await bRet;
    if( bRet ) {
      console.log("players all created (?), starting the game");
      lobbyREST_startGame("{{ url_for('lobbyrest_blueprint.rest_lobby_patch_game_state', gameid=gameid) }}")
        .then( value => {console.log("seemed to have worked");
                         location.reload(); })
        .catch( err => {console.log("que? " + err.message);} );
    }
    else {
      console.log("must've failed to add a player... that's awkward");
    }
  }
  else {
    console.log("Failed to create the game")
  }
}
 
async function addAllPlayers() {
  var ul = document.getElementById("myUL");
  var bRet = true;// presume success
  var promises=[];
  
  var lis = ul.getElementsByTagName("li");

  // TODO: loop through list, find player
  for(var i=0; i<lis.length; i++)
  {
    var pname = lis[i].innerText;
    var pname = pname.replace("\u00D7", "");
    var pname = pname.replace("\n", "");
    console.log("trying to add " + pname);
     
    var res=lobbyREST_addPlayer("{{ url_for('lobbyrest_blueprint.rest_lobby_join_game', gameid=gameid) }}", pname)
            .catch( err => { bRet=false;});
    promises.push(res);
  }

  console.log("asked to create all players, waiting for those to finish");
  await Promise.all(promises);
  // if we wait for this, and bRet is still true, then none failed
  /*
  console.log("done - return sum of results");
  for(var i=0; i<promises.length; i++)
  {
    if(!promises[i]){
      return false;
    }
  }
  return true;
  */
  return bRet;
}

</script>

</body>
</html>

