<!DOCTYPE html>
<html>
<head>
  <!-- Include the Styles we'll want to use --> 
  <link rel="stylesheet" href="{{ url_for('.static', filename='board.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='tiles.css') }}">
   
  <!-- Include our javascript helpers -->
  <script src="{{ url_for('.static', filename='board.js') }}"></script>
  <script src="{{ url_for('.static', filename='tiles.js') }}"> </script>
   
   <!-- And our WebSocket helper -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
   
</head>
 
<!-- Ahh, the meat of our page -->
<body>
 
<div class="page">
<!-- (disabled for testing)
<script type="text/javascript" charset="utf-8">
    // TODO: get URL from python
    var socket = io.connect('http://localhost:5000');
    socket.emit('join', {'room':'2'});     
    socket.on('connect', function() {
        //socket.emit('my event', {data: 'I\'m connected!'});
        console.log("*** Connected ***")
    });

    socket.on('update', function(data) {
      console.log(data);
      document.getElementById("gamestate").innerText=data['message'];
    });
     
</script>
-->
 
  <h1>Your Tiles</h1>

  <p>Click-and-drag the tile you want to Play to the Play area</p>
   
  <div id="gamestate"></div>
   
  <div id="tileRack"></div>
   
  <div id="dropzone">
    <p>Drop Here to Play</p>
     
    <!-- Add the board, and populate it -->
    <div class="row">
      <div class="aquireBoard" id="acquireBoard"></div>
    </div>
     
  </div>
   
  <script>
  var tileRack = document.getElementById("tileRack");
  makeTileRack(tileRack, document.getElementById("dropzone")); // from tiles.js - draws an empty rack
   
  dropzone.addEventListener('playtile', tileDropped);
   
  drawBoard(document.getElementById("acquireBoard")); // from board.js - draws an empty board

  tiles=gettiles();
  async function gettiles()
  {
      const response = await fetch("{{ url_for('testview_blueprint.get_tiles') }}");
      const data = await response.json();
      tiles=data['tiles'];
      setTiles(tileRack, tiles, dropzone);
      showOptions(tiles);
       
      return tiles
  }

  function tileDropped(e){
    tile=e.detail.tile;
    placeTile(tile.innerText);
    tile.parentNode.removeChild(tile);
  }
  </script>
</div>
</body>
</html>
