<!DOCTYPE html>
<html>
<head>
  <!-- Include the Styles we'll want to use --> 
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('.static', filename='board.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='tiles.css') }}">
   
  <!-- Include our javascript helpers -->
  <script src="{{ url_for('.static', filename='board.js') }}"></script>
  <script src="{{ url_for('.static', filename='tiles.js') }}"> </script>
   
  <!-- A bit of page-specific style -->
  <style>
    body {
        font-family: 'Roboto';font-size: 22px;
    }

    #dropzone {
      bottom: 10px;
      z-index: -5;
      font-size: x-large;
      line-height: 5px;
      height: 30%;
      width: 100%;
      background-color: LightCyan;
      text-align: center;
      border: 1px solid #d3d3d3;
      border-radius: 15px;
    }
  </style>
</head>
 
<!-- Ahh, the meat of our page -->
<body>
  <h1>Your Tiles - {{userid}} </h1>

  <p>Click-and-drag the tile you want to Play to the Play area</p>

  <div id="gamestate"></div>
   
  <div id="tileRack"></div>
   
  <div id="dropzone">
    <p>Drop Here to Play</p>
     
    <!-- Add the board, and populate it -->
    <div id="acquireBoard"></div>
  </div>
   
  <script>
  var tileRack = document.getElementById("tileRack");
  makeTileRack(tileRack, document.getElementById("dropzone")); // from tiles.js - draws an empty rack
   
  dropzone.addEventListener('playtile', tileDropped);
   

  rendergame();
  async function rendergame()
  {
      const response = await fetch("{{ url_for('tilebagrest_blueprint.rest_tilebag_get_game_info', gameid=gameid, playerid=userid) }}");
      const data = await response.json();
      console.log(data);

      // Display the game state
      document.getElementById("gamestate").innerText=data['game']['currPlayer']['id']

      // Draw the board
      drawBoard(document.getElementById("acquireBoard"),data['game']['board']); // from board.js - draws an empty board
       
      // TODO: handle error case where player specific data isn't returned
      tiles=data['game']['you']['playerdata']['tiles'];
      setTiles(tileRack, tiles, dropzone);
      showOptions(tiles);
       
      return tiles
  }

  function tileDropped(e){
    tile=e.detail.tile;
    makeGameMove(tile); // post the move to the game server
  }

  async function makeGameMove(tile)
  {
    const response = await fetch("{{ url_for('tilebagrest_blueprint.rest_tilebag_take_game_action', gameid=gameid, playerid=userid) }}", {
                method: 'PATCH', 
                headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 'action':'placetile', 
                                        'tile':tile.innerText})
                },
              );
                 
    await response.status;
    if( response.status == 200 )
    {
      tile.parentNode.removeChild(tile);
      rendergame()
    }
    else
    {
      // TODO: snap-back the tile and berrate the user
    }
  }
  </script>
</body>
</html>
