<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='tilebag.css') }}{{ cachefix }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='ticker.css') }}{{ cachefix }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='board.css') }}{{ cachefix }}">
   
  <!-- Include our javascript helpers -->
  <script src="{{ url_for('.static', filename='board.js') }}{{ cachefix }}"></script>
  <script src="{{ url_for('.static', filename='tiles.js') }}{{ cachefix }}"> </script>
  <script src="{{ url_for('.static', filename='tbREST.js') }}{{ cachefix }}"> </script>
    
   <!-- And our WebSocket helper -->
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
   <!-- And our WebSocket helper 
  <script src="{{ url_for('.static', filename='socket.io.js') }}"> </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
   -->
</head>
<body>

 
<div class="header">
  <h1>TileBag!</h1>
</div>

<div class="row">
  <div class="infocolumn">
    <h2 style="text-align:center">PLAYERS</h2>
    <div class="playerlist" id="playerlist">
      <!-- This will get populated with the player names -->
    </div>
    <h2 style="text-align:center">GAME LOG</h2>
    <div class="card">
      <div class="messagelog"><ul id="messagelog"></ul></div>
    </div>
  </div>
  <div class="maincolumn">
   
    
<div class="mstick" id="messagebar">
  <div class="messages">
    <div class="endstatemessage notthere" id="endstatemessage">End condition(s) statisfied - current player can choose to trigger the end
            <button onclick="onEndGame()" class="p4 right clr" id="btnEndGame">Trigger Game End</button></div>
    <div class="gamestate" id="gamestate"></div>
    <div class="gamemessage" id="gamemessage"></div>
    <span class="websocketstate" id="wsstate" ></span>
    <div class="card notthere" id="vmergedetails">
      <div class="rrow">
        <span class="p3 left">
          <h2>MERGER!</h2>
        </span>
        <span class="p8 left" style="text-align:center;font-size:x-large;">
          <em id="mergeWinner"></em> acquires <em id="mergeLoser"></em>
        </span>
      </div>
      <div id="bonuspayoutinfo">
        <div class="rrow" style="text-align:left">
          <span class="p8 left" style="text-align:left;font-size:x-large;">
            Cashing out <em id="cashoutHotel"></em>
          </span>
        </div>
        <div class="rrow" style="text-align:left">
          <span class="p4 left">Shareholders: <span class="textinfo" id="mergeSharePrice"></span><br><span class="textinfo" id="mergeShareholders"></span>
          </span>
          <span class="p4 left">Majority Bonus: <span class="textinfo" id="mergeMajBonusAmt"></span><br><span class="textinfo" id="mergeMajBonus"></span>
          </span>
          <span class="p4 left">Minority Bonus: <span class="textinfo" id="mergeMinBonusAmt"></span><br><span class="textinfo" id="mergeMinBonus"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="card notthere" id="vbuystocks">
      <div class="rrow">
        <span class="p3 left">
          <h2>BUY STOCKS</h2>
        </span>
        <span class="p6 left">
          <p style="text-align: center" id="bsMessage">You should ... Buy Stocks</p>
        </span>
      </div>
      <div class="rrow">
        <span class="p8 left centered" id="bslist">
          <!-- Hotels will show up here -->
        </span>
        <span class="p4 left salesreceipt"> <!-- sales receipt -->
          <table id="salesreceipt">
          </table>
        </span>
      </div>
      <div class="rrow">
        <span class="p12 right centered" style="margin-top: 10px">
          <button onclick="bsClearCounts()" id="btnClearBSCnt">Clear</button>
          <button onclick="bsPassTurn()" id="btnPassTurn">Pass</button>
          <button onclick="bsBuyStocks()" id="btnBuyStocks">Buy</button>
        </span>
      </div>
    </div>
    <div class="card notthere" id="vselecthotel">
      <div class="rrow">
        <span class="p3 left">
          <h2>SELECT HOTEL</h2>
        </span>
        <span class="p6 left">
          <p style="text-align: center" id="hselmsg">Select a Hotel</p>
        </span>
      </div>
      <div class="rrow">
        <span class="p12 left centered" id="selhotellist">
          <!-- Will be automatically populated with the hotel options -->
        </span>
      </div>
      <div class="rrow">
        <span class="p12 right centered" style="margin-top: 10px">
          <button onclick="selectHotel()" id="btnHSel">Select Hotel</button>
        </span>
      </div>
    </div>
    <div class="card notthere" id="vstockoptions">
      <div class="rrow">
        <span class="p3 left">
          <h2>STOCK OPTIONS</h2>
        </span>
        <span class="p6 left">
          <p style="text-align: center" id="hselmsg">Click on Hotel to Exercise your Stock Options<br>You have <b id="soTradeAmount" style="color:red"></b> Stocks<br>[Trade 2-for-1 | Sell | Keep]</p>
        </span>
      </div>
      <div class="rrow">
        <span class="p6 left"> <!-- Trade Side -->
          <div class="rrow centered">
            <i>Trade Stocks</i>
          </div>
          <div class="rrow centered" style="border-right: 5px solid darkblue">
            <span class="p2 left empty"></span>
            <span class="p3 left" style:"text-align:right" id="soTradeWinner"></span>
            <span class="p3 left centered">
              <button onclick="soTrade()" style="margin-top:20px" id="btnSOTrade" disabled>Trade<br>2:1</button>
            </span>
            <span class="p3 left" style:"text-align:left" id="soTradeLoser"></span>
            <span class="p2 right empty"></span>
          </div>
        </span>
        <span class="p2 right empty"></span>
        <span class="p4 right"> <!-- Sell Side -->
          <div class="rrow">
            <div class="p12 centered">
              <i>Sell Stocks</i>             
            </div>
          </div>
          <div class="rrow">
            <span class="p6 left centered" id="soSellLoser"></span>
            <span class="p2 left centered"> 
              <button onclick="soSellStocks()" style="margin-top:30px" id="btnSOSell" disabled>Sell</button>
            </span>
          </div>
        </span>
      </div>
      <div class="rrow"> <!-- Keep Side -->
        <span class="p12 right centered" style="margin-top: 10px">
          <button onclick="soPassTurn()" id="btnSOKeep">Pass</button>
          <button onclick="soClearCounts()" id="btnClearSOSCnt" disabled>Clear</button>
        </span>
      </div>
    </div>
    <div class="card notthere" id="vendgameinfo">
      <h2 class="p12 centered">END GAME SUMMARY</h2>
      <div class="rrow" style="margin: 10px;">
        <span class="p12 left centered" id="playerscores">
        </span>
      </div>
      <div class="rrow" style="text-align:left" id="finalscores">
      </div>
      <div class="rrow" style="text-align:left" id="endgamepayouts">
      </div>
    </div>
  </div>
</div>
     
      
       
    <div class="card p12 notthere" id="vspectator">
      <div class="rrow">
        <span class="p4 left">
          <h2>SPECTATORS</h2>
        </span>
        <span class="p6 left centered">
          <p>Are you just watching? Or are you one of these players?</p>
        </span>
      </div>
      <div class="rrow" style="margin: 10px;">
        <span class="p12 left centered" id="playerlinks">
        </span>
      </div>
    </div>
    <div class="card notthere" id="vtiles">
      <h2>TILES</h2>
      <div class="tilerack" id="tilerack">
        <!-- The following will dynamically be populated with
        <div class="rackspace"></div>
             And each will eventually get populated with
        <div class="tile"><ctext>X</ctext><rtext>X</rtext></div>
        -->
      </div>
    </div>
    <div class="card">
      <div class="rrow">
        <div class="hotelcolumn notthere">
          <div class=rrow>
            <h2 class="p8 left">HOTELS</h2>
            <button onclick="clrCnt('H')" class="p4 right clr" id="btnClearHCnt">Clear</button>
          </div>
          <div class="hotellist" id="hotellist">
          </div>
        </div>
        <div class="rrow" id="boardcolumn">
          <div class="rrow">
            <h2 class="p12 left centered">BOARD</h2>
          </div>
          <div class="rrow">
            <div class="p12 left centered"><div class="acquireBoard" id="acquireBoard"></div></div>
          </div>
            <div class="rrow">
              <div id="outer">
                <!-- This div is important! 
                It lets us specify margin-left as percentage (in css loop) -->
                <div>
                    <div id="loop"><div id="content">Welcome to TileBag!&nbsp;</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="card">
  <button type="button" class="collapsible">Instructions</button>
  <div class="content">
    <p>Instruction: Most game actions are completed by dragging elements</p>
    <ul style="text-align:left">
      <li>Place a Tile - Drag tile to the board</li>
      <li>Buy a Stock - Drag hotel to the stock market</li>
      <li>Sell a Stock - Drag stock to the hotel area</li>
      <li>Place a Hotel - Click a tile on the board, Drag hotel to the board</li>
      <li>Remove a Hotel - Drag hotel to the "Remove" area</li>
    </ul>
  </div>
  </div>
  <div class="card">
  <div class="hotellist"><img src="{{ url_for('.static', filename='stockchart.jpg') }}" alt="STOCK CHART" ></img></div>
  <h2>Footer</h2>
  </div>
</div>

<!-- ################################################################### --> 
<!-- ## Javascript for Rendering Game Components on the Screen -->
<!-- ################################################################### --> 
  <script>
  /* The hotel constants */
  let HOTELS = [
       {name: "Worldwide", short: "WW", color: "rgba(87, 54, 107, 1)"},
       {name: "Saxxon", short: "SX", color: "rgba(199, 140, 68, 1)"},
       {name: "Festival", short: "FV", color: "rgba(39, 117, 39, 1)"},
       {name: "Imperial", short: "IM", color:"rgba(181, 149, 45, 1)"},
       {name: "American", short: "AM", color: "rgba(45, 51, 140, 1)"},
       {name: "Continental", short: "CN", color: "rgba(156, 57, 26, 1)"},
       {name: "Tower", short: "TW", color: "rgba(115, 113, 112, 1)"},
   ];
    
  // The main window components we'll reference the most
  const el_gamestate=document.getElementById('gamestate');
  const el_gamemessage=document.getElementById('gamemessage');
  const el_playerlist=document.getElementById('playerlist');
  const el_hotellist=document.getElementById("hotellist");
  const el_gameboard=document.getElementById("acquireBoard")
  const el_tilerack=document.getElementById("tilerack");
  const el_btnEndGame=document.getElementById("btnEndGame");
  const el_endstatemessage=document.getElementById("endstatemessage");
   
  // The game UI "cards" that come and go based on state
  const el_vspectator=document.getElementById("vspectator");
  const el_vtiles=document.getElementById("vtiles");
  const el_vbuystocks=document.getElementById("vbuystocks");
  const el_vselecthotel=document.getElementById("vselecthotel");
  const el_vmergedetails=document.getElementById("vmergedetails");
  const el_vstockoptions=document.getElementById("vstockoptions");
  const el_vendgameinfo=document.getElementById("vendgameinfo");

  // Helper functions
  const EFFECT_REMOVED='notthere';
  const EFFECT_ERROR='error';
  const EFFECT_DISABLED='disabled';
  const EFFECT_HIGHLIGHT='highlight';
  const EFFECT_SHOW='visible';
  const EFFECT_INDICATE='indicate';
  function addEffect(effect, elem) {
    if( !elem.className.includes(" " + effect) ) {
      elem.className = elem.className + " " + effect;
    }
  }
  function removeEffect(effect, elem) {
    elem.className = elem.className.replace(" " + effect, "");
  }
  </script>
      
<!-- ################################################################### --> 
<!-- ## Javascript for Dynamic Game Effects from User actions -->
<!-- ################################################################### --> 
  <script>
  el_gameboard.addEventListener('playtile', tileDropped);
  //el_gameboard.addEventListener('placehotel', placeHotel);
  //el_stockrack.addEventListener('buystock', buyStock);
  //el_hotellist.addEventListener('sellstock', sellStock);

  /* For TILES */
  function tileDropped(e){
    var tile=e.detail.tile;
    if( {{debug}}  ) {
      tile.parentNode.removeChild(tile);
      placeTile(tile.innerText);
    } else {
      makeGameMove(tile); // post the move to the game server
    }
  }

  function onEndGame() {
    console.log("onEndGame pressed");
    sendEndGameRequest();
  }
   
  async function sendEndGameRequest() {
    await tbREST_requestEndGame("{{ url_for('tilebagrest_blueprint.rest_tilebag_get_game_info', gameid=gameid, playerid=playerid) }}")
            .catch( err => { sendGameMessage(err.message); });
  }
     
  async function makeGameMove(tile)
  {
    await tbREST_placetile("{{ url_for('tilebagrest_blueprint.rest_tilebag_placetile', gameid=gameid, playerid=playerid) }}", tile.innerText)
            .then( result => tile.parentNode.removeChild(tile) )
            .catch( err => { sendGameMessage(err.message);
                          });
  }
   
  /* For HOTELS */
  async function placeHotel(e){
    var hel=e.detail.tile;
    _placeHotel(hel.id);
  }
   
  async function _placeHotel(hotel) {
    await tbREST_placeHotel("{{ url_for('tilebagrest_blueprint.rest_tilebag_placehotel', gameid=gameid, playerid=playerid) }}", hotel, 'lastplaced')
            .catch( err => { sendGameMessage(err.message);
                          });
  }
  async function removeHotel(e){
    var hel=e.detail.tile;
    _removeHotel(hel.id);
  }

  async function _removeHotel(hotel){
    await tbREST_placeHotel("{{ url_for('tilebagrest_blueprint.rest_tilebag_placehotel', gameid=gameid, playerid=playerid) }}", hotel, null)
            .catch( err => { sendGameMessage(err.message);
                          });
  }

  function getMultiSelectId(itemtype, hname) {
    return "ms_" + itemtype + "_" + hname;
  }

  function addMultiSelect(hostelm, itemtype) {
    var ms = document.createElement('span');
    ms.className="mscount";
    ms.id = getMultiSelectId(itemtype, hostelm.dataset.hotel);
    ms.dataset.count=0;
    hostelm.appendChild(ms);
    hostelm.onclick=function() {onMultiSelectClick(ms, itemtype);};
  }

  function _clrCnt(h, itemtype) {
    var elCnt=document.getElementById(getMultiSelectId(itemtype, h.name));
    if( elCnt != undefined ){
      elCnt.dataset.count=0;
      removeEffect(EFFECT_SHOW, elCnt);
    }
  }

  function selectHotel() {
    var hsel=document.querySelector('input[name="hotels"]:checked').value;

    var elbtn=document.getElementById("btnHSel");
    if( elbtn.dataset.sellaction == "true" ) {
      _removeHotel(hsel);
    } else {
      _placeHotel(hsel);
    }
  }

  function clrCnt(itemtype) {
    // Go through all count items, reset them and hide them
    HOTELS.forEach(h => _clrCnt(h, itemtype));
    // Hide the Clear Button
    var elClrStock=document.getElementById("btnClear"+itemtype+"Cnt");
    if( elClrStock ) {
      removeEffect(EFFECT_SHOW, elClrStock);
    }
  }

  function onMultiSelectClick(mselem, itemtype, maxbuy) {
    var pim=mselem.parentElement.dataset.hasmoved;
    if( pim===undefined || pim == "false" )
    {
      var reqcount=parseInt(mselem.dataset.count);
      reqcount = isNaN(reqcount) ? 1 : reqcount+1;
      if( maxbuy === undefined || reqcount <= maxbuy ) {
        clrCnt(itemtype); // clear all others
        mselem.innerText=reqcount
        mselem.dataset.count=reqcount;
        addEffect(EFFECT_SHOW,mselem);
        var elClrBtn=document.getElementById("btnClear"+itemtype+"Cnt");
        addEffect(EFFECT_SHOW,elClrBtn);
      }
    }
  }

  function getMultiSelectMaxCount(itemtype, hname) {
    var elw=document.getElementById(getMultiSelectId(itemtype, hname));
    var count = 0;
    if( elw != undefined )
    {
      count=parseInt(elw.dataset.maxcount);
      if( isNaN(count) || count == 0) {
        count = 0;
      }
    }
    return count;
  }
   
  function setMultiSelectMaxCount(itemtype, hname, maxcount) {
    var elw=document.getElementById(getMultiSelectId(itemtype, hname));
    var count = 0;
    if( elw != undefined )
    {
      elw.dataset.maxcount=maxcount;
    }
    return count;
  }
   
  function getMultiSelectCount(itemtype, hname) {
    var elw=document.getElementById(getMultiSelectId(itemtype, hname));
    var count = 0;
    if( elw != undefined )
    {
      count=parseInt(elw.dataset.count);
      if( isNaN(count) || count == 0) {
        count = 0;
      }
    }
    return count;
  }
   
  /* For STOCKS */
  function buyStock(e){
    // called with a hotelitem object
    var hotel=e.detail.tile;
    var hname=hotel.dataset.hotel;
    var buyCount=getMultiSelectCount('H', hname);
     
    stockAction(hname, buyCount);
     
    var elClrHotel=document.getElementById("btnClearHCnt");
    removeEffect(EFFECT_SHOW, elClrHotel);
  }
   
  function sellStock(e){
    // called with a stockitem object
    var si=e.detail.tile;
    var hname=si.dataset.hotel;
    var sellCount=getMultiSelectCount('S', hname);
       
    stockAction(hname, -sellCount);
     
    var elClrHotel=document.getElementById("btnClearSCnt");
    removeEffect(EFFECT_SHOW, elClrHotel);
  }
   
  async function stockAction(hname, amt){
    // make REST call to change player hotel amounts by this
    await tbREST_stockAction("{{ url_for('tilebagrest_blueprint.rest_tilebag_stocks', gameid=gameid, playerid=playerid) }}", hname, amt)
            .catch( err => {
                            sendGameMessage(err.message);
                           });
  }
   
  </script>
   
<!-- ################################################################### --> 
<!-- ## Javascript for Dynamic Game Effects from Server Messages -->
<!-- ################################################################### --> 
  <script>

  function sendGameMessage(message, error=true) {
    console.log(message);
    el_gamemessage.innerText=message;
     
    // Set the message, show it, and schedule the fade-out timer
    removeEffect(EFFECT_REMOVED, el_gamemessage)
    if( error ) {
      addEffect(EFFECT_ERROR, el_gamemessage);
    }
    setTimeout(function(){
      removeEffect(EFFECT_ERROR, el_gamemessage);
      addEffect(EFFECT_REMOVED, el_gamemessage);
      }, 2500);
  }
     
  function showHotel(dhotel, ticker) {
    let h=HOTELS.find(o => o.name === dhotel['name']);
    let hel=document.getElementById(dhotel['name']);

    // Update the remaining stock count
    var sc=document.getElementById("sc_" + h.name);
    sc.innerText=dhotel['stocks'];
       
    // If it's on the board, show it on the board
    if( dhotel['tile'] != null) {
      // Update the stock ticker
      var sti=document.createElement('span');
      sti.style.color=h.color;
      sti.innerText=h.short+"("+dhotel['occupies'].length+") $" + dhotel['price'] + ";   ";
      ticker.appendChild(sti);
       
      // Colour the tiles on the board
      for( var i=0; i<dhotel['occupies'].length; i++)
      {
        var t = dhotel['occupies'][i];
        var cell=document.getElementById(t);
        if( cell != null)
        {
          cell.style.backgroundColor=h.color;
          cell.style.borderColor=h.color;
          cell.innerText = h.short;
          cell.style.fontSize="small";
          cell.className = cell.className + " honboard";
        }
      }

      // Tweak the hotel widget so it's clear it's on the board
      if( !hel.className.includes(" honboard") ) {
        hel.className = hel.className + " honboard";
      }
    }
    else
    {
      hel.className=hel.className.replace(" honboard", "");
    }
     
    // Grey out the widget based on how many stocks are left
    var st=parseInt(dhotel['stocks']);
    var decksize = st / 25;
    if(st > 0){
      decksize += 0.5;
    }
    hel.style.opacity=decksize + 0.2;
  }
   
  // game info only includes stocks we have, the rest are Zero
  function updateStocks(h, pstocks) {
    var stockval=0;
    var si=document.getElementById("st_" + h.short + "_cnt");
    if( pstocks[h.name] != undefined )
    {
      stockval=pstocks[h.name];
    }
    si.innerText=stockval;
  }

  // For the stock TICKER
  function repeatTickerContent(el, till) {
    let html = el.innerHTML;
    let counter = 0; // prevents infinite loop

    while (el.offsetWidth < till && counter < 100) {
        el.innerHTML += html;
        counter += 1;
    }
  }

  function setTickerToString(tickerstring) {
    var elt=document.createElement('div');
    elt.innerText=tickerstring;
    drawTickerWithElement(elt);
  }

  function drawTickerWithElement(elt) {
    var el_outer=document.getElementById('outer');
    var el_loop=el_outer.querySelector('#loop');
     
    elt.className='content';
    el_loop.innerHTML="";           // clear the stock ticker first
    el_loop.appendChild(elt);
    repeatTickerContent(elt, el_outer.offsetWidth);
    el_loop.innerHTML=el_loop.innerHTML+el_loop.innerHTML;
  }

  const HTML_PLAYER_NAME='<div class="row"><div class="p8 left">YYYYYY</div><span class="p4 right activeind" id="pactive_XXXXXX"></span></div>';
   
  const HTML_ACTIVE_PLAYER='<div class="card">'+HTML_PLAYER_NAME+'<div class="playerspace"><div class="rrow"><span class="p6 left">STOCK MARKET</span><span class="p6 right playermoney" id="playermoney">$$$$$</span> </div> <div class="stockrack" id="stockrack"> <!-- The following will dynamically be populated with <div class="stockspace">M</div> --></div><div class="row notthere" id="forbuttons">For Buttons</div></div></div>';
   
  function showPlayers(pdata, you) {
    var pid=pdata['id'];         // Shorthand for this function
    var pname=pdata['name'];

    // Create a container for the player to show up
    var elc=document.createElement('div');
    elc.className="card playercard";
    elc.id='playerind_'+pid;
    el_playerlist.appendChild(elc);
       
    // Create the details of the player
    var elps=document.createElement('div');
    if( you ) {
      elps.innerHTML=HTML_ACTIVE_PLAYER;
    } else {
      elps.innerHTML=HTML_PLAYER_NAME;
    }
    elps.innerHTML = elps.innerHTML.replace(/XXXXXX/g, pid);
    elps.innerHTML = elps.innerHTML.replace(/YYYYYY/g, pname);
    elc.appendChild(elps);

    if( you ) {
      // Dynamically add the STOCKS widgets to the player area
      const buildStockWidget = function(hotel){
        // First Create the space for the stock item
        var ss=document.createElement('div');
        ss.className="stockspace";
        var elsr=document.getElementById("stockrack");
        elsr.append(ss);
         
        // Then create the individual stock and put it in that space
        var si=document.createElement('div');
        si.className="stockitem";
        si.id = "st_" + hotel.short;
        si.dataset.hotel=hotel.name; // required for multi-select
        si.style.backgroundColor=hotel.color;
        ss.append(si);
         
        var sia=document.createElement('div');
        sia.className="stockcount";
        var sib=document.createElement('div');
        sia.id=si.id + "_cnt";
        sia.innerText=0;
        sib.innerText=hotel.short;
        si.append(sia);
        si.append(sib);
      }
      HOTELS.forEach(h => buildStockWidget(h));
    }
  }

  // render things that will stay static for the rest of the game
  function renderInitialGameParts(data) {
    // PLAYERS
    var players=data['game']['players']; // shorthand for player list
    var pdata=null;  // THIS player
    var start=0; // Index into the player list for THIS player
     
    // always show the player at the top of the player list
    if( data['game']['you'] ) {
      pdata=data['game']['you'];
      for(var i=0; i<players.length; i++)
      {
        if( pdata['id'] == players[i]['id'] ){
          start=i;
          break;
        }
      }
    }

    // show all of the players in a list
    for(var i=0; i<players.length; i++)
    {
      showPlayers(players[(start+i)%players.length], i==0 ? pdata : null);
    }
  }
   
  // Elements that every viewer should see
  function renderCommonView(data) {
    // GAMESTATE
    el_gamestate.innerText=data['game']['gamestate']['message'];
     
    // GAMELOG: Show the last messages
    var el_msgLog=document.getElementById("messagelog");
    var msgs=data['game']['gamelog'];
    el_msgLog.innerHTML="";
    for(var i=0; i<msgs.length; i++) {
      var li=document.createElement("li");
      var t=document.createTextNode(msgs[i]);
      li.appendChild(t);
      el_msgLog.appendChild(li);
    }
     
    // Highlight the current player
    var currpid=data['game']['gamestate']['currplayer']['id'];    
    var elp=document.getElementById("playerind_"+currpid);
    var x = document.querySelectorAll(".playercard");
    for(var i = 0; i < x.length; i++) {
      if( x[i] != elp ){
        removeEffect(EFFECT_INDICATE, x[i]);
      }
    }
    addEffect(EFFECT_INDICATE, elp);
     
    // BOARD: Draw the board
    drawBoard(el_gameboard,data['game']['board']); // from board.js
     
    // HOTELS: Place the hotel tokens on the board
    var elt=document.createElement('div');
    var hotels=data['game']['hotels'];
    hotels.forEach(h => showHotel(h,elt));
     
    // Draw the stock TICKER
    drawTickerWithElement(elt);

    // Everyone gets to see the details of a Merger
    if( data['game']['gamestate']['state'] == 'LiquidateStocks' ) {
      buildviewMergeDetails(data);
      removeEffect(EFFECT_REMOVED, el_vmergedetails);
    } else {
      addEffect(EFFECT_REMOVED, el_vmergedetails);
    }
       
    // Everyone gets to see the end-state info
    if( data['game']['gamestate']['state'] == 'EndGame' ) {
      buildviewEndGame(data);
      removeEffect(EFFECT_REMOVED, el_vendgameinfo);
    }
        
  }
   
  function showPlayerLinks(pdata) {
    var elpl=document.getElementById('playerlinks');
    var pid=pdata['id'];         // Shorthand for this function
    var pname=pdata['name'];
     
    var name = document.createElement('a');
     
    var div=document.createElement('span');
    div.className="rectangle";
    div.innerText=pname;
    div.style.color="white";
    div.style.paddingTop="20px";
    name.appendChild(div);

    name.href="{{gameid}}?playerid=" + pid;
    elpl.appendChild(name);
  }
      
  // Elements that are unique to a spectator
  function renderSpectatorView(data) {
    removeEffect(EFFECT_REMOVED, el_vspectator);
    data['game']['players'].forEach(pdata => showPlayerLinks(pdata));
  }
   
  const HTML_HOTEL_SELECT=' <label class="radio-label"> <input class="radio-input" type="radio" name="hotels" value="XXXXXX" checked> <div class="rectangle" id="hsel_XXXXXX"><div class="slant">XXXXXX</div></div> </label>'
  function addHotelsToSelectList(hlist) {
    var elhl=document.getElementById("selhotellist");
    elhl.innerHTML="";

    for(var i=0; i<hlist.length; i++) {
      let h=HOTELS.find(o => o.name === hlist[i]);
       
      elhl.innerHTML=elhl.innerHTML+HTML_HOTEL_SELECT.replace(/XXXXXX/g,h.name);
      elhl.innerHTML=elhl.innerHTML.replace(/YYYYYY/g,i);
      var newh=document.getElementById("hsel_"+h.name);
      newh.style.backgroundColor=h.color;
      newh.style.borderColor=h.color;
    }
  }

  function showPlayerScore(pdata) {
    var elpl=document.getElementById('playerscores');
     
    var div=document.createElement('span');
    div.className="rectangle";
    div.innerHTML=pdata['name']+"<br>"+pdata['amount'];
    div.style.color="white";
    div.style.paddingTop="20px";
    elpl.appendChild(div);
  }
   
  function buildviewEndGame(data) {

    // Show the final game scores
    var sdata=data['game']['gamestate']['stateinfo']['finalscores'];
    sdata.sort(function (a, b) {
      return parseInt(b.amount) - parseInt(a.amount);
    });
    for(var i=0; i<sdata.length; i++) {
      showPlayerScore(sdata[i]);
    }
    
    // Show how each hotel was cashed out
    var sdata=data['game']['gamestate']['stateinfo']['bonuses'];
    var elbinfo=document.getElementById('bonuspayoutinfo');
    var elegpo=document.getElementById('endgamepayouts');
    var tempHTML="";
    for(var i=0; i<sdata.length; i++) {
      let hli=data['game']['hotels'].find(o => o.name === sdata[i]['hotel']);
      let h=HOTELS.find(o => o.name === hli.name);

      // KLUDGE: super-kludge time, this view has what we need, build it and
      // then steal the HTML that results!
      buildsubviewBonusPayouts(sdata[i], h, hli);
      tempHTML=tempHTML+elbinfo.outerHTML;
    }
    elegpo.innerHTML=tempHTML;
  }
    
  function buildviewSelectHotel(hlist, hselmsg, bSell) {
    var elmsg=document.getElementById("hselmsg");
    elmsg.innerText=hselmsg;
    addHotelsToSelectList(hlist);

    var elbtn=document.getElementById("btnHSel");
    elbtn.dataset.sellaction=(bSell === undefined || bSell == false) ? false : true;
  }

  function getWinnerOptions(data){
    return data['game']['gamestate']['stateinfo']['bigoption'];
  }
  function getLoserOptions(data){
    return data['game']['gamestate']['stateinfo']['smalloption'];
  }
  function getPlaceHotelOptions(data){
    // Can only buy stocks for a hotel on the board
    var ghotels=data['game']['hotels']; // shorthand for the info
    var hlist=[]; // the list of hotels we WANT to add to the display
    for(var i=0; i<ghotels.length; i++) {
      if( !ghotels[i].tile ) {
        hlist.push(ghotels[i].name);
      }
    }
    return hlist;
  }

  function bsClearCounts() {
    // loop through hotel widgets, clear the counts
    clrCnt('BS');
     
    var elhl=document.getElementById("bslist");
    elhl.dataset.currbuy = 0;

    // hide the "buy" button
    document.getElementById('btnBuyStocks').disabled=false;
     
    updateSalesReceipt();
  }

  function bsBuyStocks() {
    var elhl=document.getElementById("bslist");
    
    // loop through all the hotels, see if it has a number, try to buy it
    for( var i=0;i<HOTELS.length;i++ ) {
      // See what the count is, if it's bigger than one, try to buy it
      var count=getMultiSelectCount('BS', HOTELS[i].name);
      if( count > 0 ) {
        stockAction(HOTELS[i].name, count);
      }
    }
  }

  function bsPassTurn() {
    stockAction("Passing", 0);

    // Hide the button
    var elBtnPass=document.getElementById("btnPassTurn");
    removeEffect(EFFECT_SHOW, elBtnPass);
  }

  function onBuyStockClick(hname) {
    let h=HOTELS.find(o => o.name === hname);
     
    // Only allow clicks up to the max total for all stocks
    var elhl=document.getElementById("bslist");
    var maxbuy=parseInt(elhl.dataset.maxbuy);
    var currbuy=parseInt(elhl.dataset.currbuy);
    if( currbuy < maxbuy ) {
      // Only allow clicks per-stock up to the max for that stock
      var currmscount=getMultiSelectCount('BS', h.name);
      var maxmscount=getMultiSelectMaxCount('BS', h.name);

      if( currmscount < maxmscount ) {
        // Super close, now make sure the player has enough money
        var mselem=document.getElementById('BS' +"_"+h.name); 
        var price=parseInt(mselem.dataset.price);
        var balance=parseInt(elhl.dataset.balance);
        
        if( balance - price >= 0 ){
          // bump the count by one, update the UI buttons
          setMultiSelectCount('BS', h.name, currmscount+1);
           
          elhl.dataset.currbuy = currbuy +1;

          // show the "buy" and the "clear" button
          document.getElementById('btnBuyStocks').disabled=false;
          document.getElementById('btnClearBSCnt').disabled=false;

          updateSalesReceipt();
        } else {
          sendGameMessage("Not enough money");
        }
      } else {
        sendGameMessage("No more stocks left");
      }
    }
  }

  const HTML_STOCK_SELECT='<div class="rectangle" id="bs_XXXXXX" onclick="onBuyStockClick(\'XXXXXX\')"><div class="blah"><div class="slant">XXXXXX</div><div class="scount" id="bssc_XXXXXX"></div><div class="mscount" id="ms_BS_XXXXXX">XX</div></div></div>'
  function addHotelsToStock(data, hlist) {
    var elhl=document.getElementById("bslist");
    elhl.innerHTML="";

    for(var i=0; i<hlist.length; i++) {
      let h=HOTELS.find(o => o.name === hlist[i]);
       
      elhl.innerHTML=elhl.innerHTML+HTML_STOCK_SELECT.replace(/XXXXXX/g,h.name);
      elhl.innerHTML=elhl.innerHTML.replace(/YYYYYY/g,i);
      var newh=document.getElementById("bs_"+h.name);
      newh.style.backgroundColor=h.color;
      newh.style.borderColor=h.color;
    }
  }

  function formatAsMoney(value) {
    return (new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(value); 
  }

  function addReceiptRow(item, amount, color) {
    var valstr=formatAsMoney(amount);
    var style="";
    if(amount < 0) {
      valstr="(" + valstr + ")";
    }
    if(color != undefined)
    {
      style="style='color:" + color + "'";
    }
    return "<tr "+style+"><th>"+item+"</th><th>"+valstr+"</th></tr>";
  }

  function updateSalesReceipt() {
    // Clear it
    var elsr=document.getElementById('salesreceipt');
    var elhl=document.getElementById("bslist");
    var balance=parseInt(elhl.dataset.pmoney);
     
    var listHTML=addReceiptRow("Your Money", balance);
     
    // loop through hotel widgets, show what's being purchased
    var bSelected=false;
    for( var i=0;i<HOTELS.length;i++ ) {
      // See what the count is, if it's bigger than one, show it
      var count=getMultiSelectCount('BS', HOTELS[i].name);
      if( count > 0 ) {
        var mselem=document.getElementById('BS' +"_"+HOTELS[i].name); 
        var price=parseInt(mselem.dataset.price);
        listHTML+=addReceiptRow(HOTELS[i].name + " " +count+"@"+formatAsMoney(price),-(count*price), HOTELS[i].color);
        balance-=(count*price);
        bSelected=true;
      }
    }
    //listHTML+="<tr style='color:green'><th>Festival 2@$200</th><th>$YYYY</th></tr>";
     
    if( bSelected ) {
      listHTML+=addReceiptRow("Balance After", balance);
    }
      
    elsr.innerHTML=listHTML;
    elhl.dataset.balance=balance;
  }
    
  function buildviewBuyStocks(data) {
    // Set the buttons to their initial state
    document.getElementById('btnClearBSCnt').disabled=true;
    document.getElementById('btnBuyStocks').disabled=true;
     
    var elhl=document.getElementById("bslist");
    elhl.innerHTML="";

    // Can only buy stocks for a hotel on the board
    // Create a widget for those stocks, complete with the details we need
    var ghotels=data['game']['hotels'];
    for(var i=0; i<ghotels.length; i++) {
      if( ghotels[i].tile ) {
        let hl=HOTELS.find(o => o.name === ghotels[i].name);
        var elbsh=createStockWidget(elhl, hl, 'BS', 'onBuyStockClick("'+hl.name+'")');
        setMultiSelectMaxCount('BS', hl.name, ghotels[i].stocks);
        if( ghotels[i].stocks == 0 ) {
          addEffect(EFFECT_DISABLED, elbsh);
        } else {
          removeEffect(EFFECT_DISABLED, elbsh);
        }
        addPriceToStockWidget('BS', hl, ghotels[i]);
        elbsh.dataset.price=ghotels[i].price;
      }
    }
     
    // Set the window text
    var maxbuy=data['game']['gamestate']['stateinfo']['canbuy'];
    elhl.dataset.maxbuy=maxbuy;
    elhl.dataset.currbuy=0;
    elhl.dataset.pmoney=data['game']['you']['playerdata']['money'];
     
    var elmsg=document.getElementById("bsMessage");
    elmsg.innerText="Click to buy up to " + maxbuy + " stocks total";

    updateSalesReceipt();
  }

  function soPassTurn() {
    stockAction("Passing", 0);
  }

  function addPriceToStockWidget(itemtype, hotel, hinfo) {
    var elcost=document.getElementById('c_'+itemtype+'_'+hotel.name);
    elcost.innerText=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(hinfo.price); 
    elcost.style.color=hotel.color;
  }

  const HTML_STOCK_WIDGET='<div class="block"><div class="rectangle" id="TTTTTT_HHHHHH" OCOCOC><div class="blah"><div class="slant">HHHHHH</div><div class="scount" id="sc_TTTTTT_HHHHHH"></div><div class="mscount" id="ms_TTTTTT_HHHHHH">XX</div></div></div><div class="textinfo" id="c_TTTTTT_HHHHHH"></div></div>';
  function createStockWidget(elp, h, itemtype, onclk) {
    // Build the HTML that will represent the widget
    var innerHTML=HTML_STOCK_WIDGET.replace(/HHHHHH/g,h.name);
    innerHTML=innerHTML.replace(/TTTTTT/g,itemtype);
    var onclkstr="";
    if( onclk != undefined && onclk != null ) {
      onclkstr='onclick='+onclk + ' ';
    }
    innerHTML=innerHTML.replace(/OCOCOC/g,onclkstr);

    // Create it and add it to the parent element
    elp.dataset.hotel=h.name;
    elp.innerHTML=elp.innerHTML+innerHTML;
     
    // Set the style of the new widget to match the hotel colour scheme
    var newh=document.getElementById(itemtype+"_"+h.name);
    newh.style.backgroundColor=h.color;
    newh.style.borderColor=h.color;

    return newh;
  }

  function soTrade() {
    var eltw=document.getElementById('soTradeWinner');
    var currTrade=getMultiSelectCount('SOT', eltw.dataset.hotel);

    stockAction(eltw.dataset.hotel, currTrade);

    soClearCounts();
  }

  function soSellStocks() {
    var hname=document.getElementById('soSellLoser').dataset.hotel;
    
    stockAction(hname, -getMultiSelectCount('SOS', hname));

    soClearCounts();
  }

  function soClearCounts() {
    clrCnt('SOS');
    clrCnt('SOT');

    // hide the buttons until the user selects something
    document.getElementById('btnSOSell').disabled=true;
    document.getElementById('btnSOTrade').disabled=true;
    document.getElementById('btnClearSOSCnt').disabled=true;
  }

  function onsoLHSellClk(hname) {
    var maxSel=parseInt(document.getElementById('sc_SOS_'+hname).innerText);
     
    var mselem=document.getElementById(getMultiSelectId('SOS', hname)); 
    onMultiSelectClick(mselem, 'SOS', maxSel); 
    document.getElementById('btnClearSOSCnt').disabled=false;
    document.getElementById('btnSOSell').disabled=false;
  }

  function setMultiSelectCount(itemtype, hname, count) {
    var mselem=document.getElementById(getMultiSelectId(itemtype, hname));
    if( mselem != undefined ) {
      mselem.innerText=count;
      mselem.dataset.count=count;
      addEffect(EFFECT_SHOW,mselem);
    }
  }

  function clearMultiSelectCount(mselem) {
    mselem.innerText=0;
    mselem.dataset.count=0;
    removeEffect(EFFECT_SHOW,mselem);
  }
   
  // Loser Hotel clicked for trade
  function onsoTrade(winlose) {
    var eltw=document.getElementById('soTradeWinner');
    var eltl=document.getElementById('soTradeLoser');

    // find out the current counts in the widgets
    var currTx=getMultiSelectCount('SOT', eltl.dataset.hotel);
    var currRx=currTx/2;
    console.log("trading " + currTx + " for " + currRx);

    // find out the maximums that can be traded for
    var exstToTx=eltl.dataset.max;
    var exstToRx=eltw.dataset.max;

    // The new totals (if successful) will be:
    currTx+=2;
    currRx+=1;

    // Make sure we can bump the numbers like this
    if( currTx <= exstToTx && currRx <= exstToRx )
    {
       setMultiSelectCount('SOT', eltl.dataset.hotel, currTx); 
       setMultiSelectCount('SOT', eltw.dataset.hotel, currRx); 

      // make sure the clear and the trade button show
      document.getElementById('btnSOTrade').disabled=false;
      document.getElementById('btnClearSOSCnt').disabled=false;
    } else {
      sendGameMessage("Not enough Stocks left");
    }
  }

  function getPlayerBonusesString(bdata){
    // And who got the bdataority bonus
    var bdatatext="";
    var value=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(bdata['splits']); 
    for( var i=0; i<bdata['players'].length; i++ )
    {
      bdatatext=bdatatext+bdata['players'][i]['player']['name']+":"+value+"; ";
    }
    return bdatatext.slice(0,-2);
  }

  function buildsubviewBonusPayouts(sdata, hotel, hli) {
    var elsh=document.getElementById('mergeShareholders');
    var elshamt=document.getElementById('mergeSharePrice');
    var elmaj=document.getElementById('mergeMajBonus');
    var elmajamt=document.getElementById('mergeMajBonusAmt');
    var elmin=document.getElementById('mergeMinBonus');
    var elminamt=document.getElementById('mergeMinBonusAmt');

    var elch=document.getElementById('cashoutHotel');
    elch.innerText=hli.name+"("+hli.occupies.length+")";
    elch.style.color=hotel.color;

    // Show the amount of stocks everyone had
    elshamt.innerText=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(hli.price); 
    var sh=sdata['shareholders'];
    var shtext="";
    elsh.innerText="";
    for( var i=0; i<sh.length;i++ ) {
      shtext=shtext+sh[i]['player']['name']+":"+sh[i]['stocks']+"; ";
    }
    elsh.innerText=elsh.innerText+shtext.slice(0,-2);

    // Show the majority bonus 
    var maj=sdata['majority'];
    elmajamt.innerText=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(maj['amount']); 
    elmaj.innerText=getPlayerBonusesString(maj);
     
    // Show who got the minority bonus
    var min=sdata['minority'];
    elminamt.innerText=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(min['amount']);
    elmin.innerText=getPlayerBonusesString(min);
  }
   
  function buildviewMergeDetails(data) {
    var elmw=document.getElementById('mergeWinner');
    var elml=document.getElementById('mergeLoser');
     
    var sdata=data['game']['gamestate']['stateinfo']

    let hw=HOTELS.find(o => o.name === sdata['biggest']);
    let hwi=data['game']['hotels'].find(o => o.name === hw.name);
    let hl=HOTELS.find(o => o.name === sdata['smallest']);
    let hli=data['game']['hotels'].find(o => o.name === hl.name);

    elmw.innerText=hw.name+"("+hwi.occupies.length+")";
    elmw.style.color=hw.color;
    elml.innerText=hl.name+"("+hli.occupies.length+")";
    elml.style.color=hl.color;

    buildsubviewBonusPayouts(sdata['bonuses'], hl, hli);
  }
   
  function buildviewStockOptions(data) {
    // Get the elements that hold the winner and loser hotels
    var eltw=document.getElementById('soTradeWinner');
    var eltl=document.getElementById('soTradeLoser');
    var elsl=document.getElementById('soSellLoser');
      
    // Get the info (UI and gamestate) for the winner and loser hotels 
    let hw=HOTELS.find(o => o.name === data['game']['gamestate']['stateinfo']['biggest']);
    let hwi=data['game']['hotels'].find(o => o.name === hw.name);
    let hl=HOTELS.find(o => o.name === data['game']['gamestate']['stateinfo']['smallest']);
    let hli=data['game']['hotels'].find(o => o.name === hl.name);
     
    // Flush the view from any previous rendering
    eltw.innerHTML="";
    eltl.innerHTML="";
    elsl.innerHTML="";
     
    // Create a widget for the trade transaction
    createStockWidget(eltw, hw, 'SOT', 'onsoTrade("W")');
    createStockWidget(eltl, hl, 'SOT', 'onsoTrade("L")');
    // Create a widget for the sell transaction
    createStockWidget(elsl, hl, 'SOS', 'onsoLHSellClk("'+hl.name+'")');
    addPriceToStockWidget('SOS', hl, hli);

    // display the amount of stocks the player has to sell
    var sellMax=parseInt(data['game']['you']['playerdata']['stocks'][hl.name]);
    document.getElementById('sc_SOS_'+hl.name).innerText=sellMax;
    document.getElementById('sc_SOT_'+hl.name).innerText=sellMax;
    document.getElementById('soTradeAmount').innerText=sellMax;
     
    // Save the values we'll need to refer back to
    eltw.dataset.max=hwi.stocks;
    eltl.dataset.max=sellMax;

    // Disable the trade side if we don't have two to trade
    if( sellMax < 2 || hwi.stocks == 0) {
      addEffect(EFFECT_DISABLED, eltw);
      addEffect(EFFECT_DISABLED, eltl);
    } else {
      removeEffect(EFFECT_DISABLED, eltw);
      removeEffect(EFFECT_DISABLED, eltl);
    }
    
  }
   
  function renderPlayerViewWhenActive(data) {
    var state=data['game']['gamestate']['state']
    var hlist=null;
    var hselmsg=null;
    switch( state ) {
    case 'EndGame':
      removeEffect(EFFECT_REMOVED, el_vendgameinfo);
      break;
    case 'BuyStocks':
      buildviewBuyStocks(data);
      removeEffect(EFFECT_REMOVED, el_vbuystocks);
      break;
    case 'SelectMergeWinner':
      buildviewSelectHotel(getWinnerOptions(data),
                    "Select the Hotel that will Acquire the other(s)");
      removeEffect(EFFECT_REMOVED, el_vselecthotel);
      break;
    case 'SelectMergeLoser':
      buildviewSelectHotel(getLoserOptions(data),
                    "Select the Hotel that will BE acquired first",
                    true);
      removeEffect(EFFECT_REMOVED, el_vselecthotel);
      break;
    case 'PlaceHotel':
      buildviewSelectHotel(getPlaceHotelOptions(data),
                    "Select the Hotel to place on the board");
      removeEffect(EFFECT_REMOVED, el_vselecthotel);
      break;
    case 'LiquidateStocks':
      buildviewStockOptions(data);
      removeEffect(EFFECT_REMOVED, el_vstockoptions);
      break;
    }
     
    if( data['game']['endpossible'] ) {
      if( !data['game']['endrequested'] ) {
        addEffect(EFFECT_SHOW, el_btnEndGame);
      } else {
        removeEffect(EFFECT_SHOW, el_btnEndGame);
      }
    }
  }

  // Elements that are unique to the palyer
  function renderPlayerView(data) {
    var pinfo=data['game']['you']['playerdata'];
    var currpid=data['game']['gamestate']['currplayer']['id'];
    var thispid=data['game']['you']['id'];
     
    // MONEY
    var elpmoney=document.getElementById('playermoney');
    elpmoney.innerText=(new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0,})).format(pinfo['money']);

    // STOCKS
    var stocks=pinfo['stocks'];
    HOTELS.forEach(h => updateStocks(h, stocks));

    // TILE RACK
    var tiles=pinfo['tiles'];
    var orderTiles=true; // TODO: grab this from a toggle/setting
    setTiles("rackspace", tiles, [[el_gameboard, 'playtile']], orderTiles);
    showOptions(tiles);

    // GAME STATE Specific views (reset what's visible every time)
    addEffect(EFFECT_REMOVED, el_vbuystocks);
    addEffect(EFFECT_REMOVED, el_vselecthotel);
    addEffect(EFFECT_REMOVED, el_vstockoptions);
    removeEffect(EFFECT_REMOVED, el_vtiles); // tiles always visible? TBD
    if( thispid == currpid ) {
      addEffect(EFFECT_HIGHLIGHT, el_gamestate);
      renderPlayerViewWhenActive(data);
    } else {
      removeEffect(EFFECT_HIGHLIGHT, el_gamestate);
    }
     
    if( data['game']['endpossible'] ) {
      removeEffect(EFFECT_REMOVED, el_endstatemessage);
      if( data['game']['endrequested'] ) {
        el_endstatemessage.innerText="End of game has been triggered. Game will end at the end of the current player's turn";
        el_endstatemessage.style.backgroundColor="lightgreen";
      }
    } else {
      addEffect(EFFECT_REMOVED, el_endstatemessage);
    }
  }
   
  var bInitialRender=true;
  async function rendergame(data) {
    // You may have realized that no where do we call this function with
    // data defined... that may change if I supply the game state info in the
    // websocket poke
    if( data === undefined ) {
      data=await tbREST_getGameState("{{ url_for('tilebagrest_blueprint.rest_tilebag_get_game_info', gameid=gameid, playerid=playerid) }}")
            .catch( err => { sendGameMessage(err.message); return;});
    }

    // some things, like the player info needs to be dynamically created,
    // but only once
    if( bInitialRender ) {
      renderInitialGameParts(data);
      bInitialRender = false;
       
      if( !data['game']['you'] ) {
        // some things are for spectators
        renderSpectatorView(data)
      }
    }

    // some things are shown regardless of who's viewing
    renderCommonView(data)
     
    // And some things are just for us!
    if( data['game']['you'] ) {
      // some things are only for the player
      renderPlayerView(data)
    } else {
      // And if not, clean up some UI elements
      removeEffect(EFFECT_SHOW, el_btnEndGame);
    }
     
  }
  </script>
         
          
<!-- ################################################################### --> 
<!-- ## Javascript for loading / initializing the game -->
<!-- ################################################################### --> 
  <script>

  // Set up the game
  setupWebSocket();
  setupStaticGameParts();
  rendergame();
  sendGameMessage("Welcome!", false);
   
  function setupStaticGameParts() {
    // For TILERACK
    // Dynamically create the spots for the tiles
    // <div class="rackspace"></div>
    for(var i=0; i<7; i++){
      var rs=document.createElement('div');
      rs.className="rackspace";
      el_tilerack.append(rs);
    }
     
    // Draw the BOARD
    drawBoard(el_gameboard); // from board.js - draws an empty board
   
    // Dynamically add the HOTELS tokens to the page
    const buildHotelName = function(hotel){
      // first create the space for the hotel item
      var hs=document.createElement('div');
      hs.className="hotelspace";
      el_hotellist.appendChild(hs);
       
      // then create the individual hotel and put it in that space
      var hi = document.createElement('div');
      hi.className="hotelitem";
      hi.id = hotel.name;
      hi.dataset.hotel=hotel.name;
      hs.appendChild(hi);
      hi.innerText=hotel.name;
      hi.dataset.hasmoved=false;
      hi.style.backgroundColor=hi.style.backgroundColor + " " +  hotel.color;
      hi.style.borderColor=hotel.color;

      // create the "hidden" multi-select count part
      addMultiSelect(hi, "H");
       
      // create the remaining stock count part
      var sc = document.createElement('span');
      sc.className="rmstockcount";
      sc.id = "sc_" + hotel.name;
      sc.innerText="#";
      hi.appendChild(sc)
    }
    HOTELS.forEach(h => buildHotelName(h));
     
    enableCollapsables();
  }

  function setupWebSocket() {
    var url=location.protocol + '//{{ serverroot }}';
    console.log("WS: " + url);
    var socket = io.connect(url, {
                   /*'transports': ['websocket'],*/
                   'reconnection': true,
                 'reconnectionDelay': 1000,
                 'reconnectionDelayMax': 5000,
                 'reconnectionAttempts': 5,
              });
    socket.emit('join', {'room':'{{ gameid }}'});     
    socket.on('connect', function() {
        console.log("*** WS:Connected: " + url);
        document.getElementById('wsstate').style.backgroundColor="lightgreen";
        document.getElementById('wsstate').dataset.connected=true;
    });
    function socketConnectionDropped() {
        document.getElementById('wsstate').style.backgroundColor="red";
        document.getElementById('wsstate').dataset.connected=false;
    }
    
    socket.on('disconnect', function() {
        console.log("*** WS:Disconnected?!: " + url);
	socketConnectionDropped();
    });
    socket.on('connect_error', function() {
        console.log("*** WS:Connection Error?!: " + url);
	socketConnectionDropped();
    });

    socket.on('update', function(data) {
      console.log("WS:Update");
      rendergame();
    });
  }

  function enableCollapsables() {
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  }
  
  </script>
 
</body>
</html>

